* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.main_ready-block-head, .main_classes-block-head, .main_about-block-head, .main_popular-head {
  font-size: 48px;
  font-weight: 700;
}

.main_popular-container-card-info {
  font-size: 30px;
  font-weight: 700;
}

.footer_block-address-head, .footer_block-left-head {
  font-size: 24px;
  font-weight: 700;
}

.footer_block-address-paragraph, .footer_block-left-end, .footer_block-left-start, .main_ready-block-button, .main_classes-block-button, .main_classes-block-paragraph, .main_classes-block-info, .main_about-block-button, .main_about-block-paragraph, .main_about-block-info, .main_popular-down-button, .main_started-block-paragraph {
  font-size: 16px;
  font-weight: 500;
}

.main_ready-block-button, .main_classes-block-button, .main_about-block-button, .main_popular-down-button {
  padding: 13px 50px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: none;
}

.header_navbar-link, .header_logo {
  transition: 0.2s linear;
}
.header_navbar-link:hover, .header_logo:hover {
  color: rgba(152, 251, 152, 0.5725490196);
}

.main_ready-block-button, .main_classes-block-button, .main_about-block-button, .main_popular-down-button, .main_started-block-button {
  border-radius: 5px;
  transition: 0.3s linear;
}
.main_ready-block-button:hover, .main_classes-block-button:hover, .main_about-block-button:hover, .main_popular-down-button:hover, .main_started-block-button:hover {
  background-color: #7e0a0a;
}

.main_popular-container-card-photo-img {
  border-radius: 15px;
  transition: 0.3s linear;
}
.main_popular-container-card-photo-img:hover {
  filter: grayscale(100%);
  transform: scale(0.95);
}

.footer_block-left-list-link {
  transition: 0.3s linear;
}
.footer_block-left-list-link:hover {
  transform: scale(1.1);
}

.main_ready {
  transition: 0.3s linear;
}
.main_ready:hover {
  transform: scaleY(1.05);
  background-position: 70% 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
  height: 300px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgba(200, 2, 2, 0.9058823529);
  border-radius: 15px;
  height: 10px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.fixed_photo {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 991px) {
  .fixed_photo {
    display: none;
  }
}
.fixed_photo-img {
  background-image: url("../assets/bodybuilder.avif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  max-width: 1920px;
}

.header {
  position: sticky;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  max-width: 1920px;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.active {
  background-color: rgb(0, 0, 0);
  transition: 0.5s linear;
}
@media screen and (max-width: 991px) {
  .header {
    padding: 20px 5%;
    background-color: #000;
    background-image: linear-gradient(rgba(23, 23, 23, 0.714), rgb(0, 0, 0));
  }
}
.header_logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 0px 15px 3px;
  border-radius: 20px;
  background-color: #e80404;
}
.header_logo.active {
  background-color: rgb(0, 0, 0);
  background-color: transparent;
  transition: 0.5s linear;
}
@media screen and (max-width: 991px) {
  .header_logo {
    padding: 0;
    background-color: transparent;
  }
}
.header_checkbox {
  display: none;
}
@media screen and (max-width: 991px) {
  .header_checkbox:checked ~ .icons #menu-icon {
    display: none;
  }
  .header_checkbox:checked ~ .icons #close-icon {
    display: block;
  }
  .header_checkbox:checked ~ .navbar {
    height: auto;
  }
}
.header_label {
  position: relative;
  font-size: 48px;
  color: #fff;
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 991px) {
  .header_label {
    display: inline-flex;
  }
}
@media screen and (max-width: 991px) {
  .header_label-close {
    display: none;
  }
}
.header_navbar {
  margin: 0;
  padding: 5px 21px 7px 5px;
  border-radius: 15px;
  background-color: #e80404;
}
.header_navbar.active {
  background-color: transparent;
  transition: 0.5s linear;
}
@media screen and (max-width: 991px) {
  .header_navbar {
    padding: 0;
    border-radius: 0;
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: transparent;
    background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.4274509804));
    backdrop-filter: blur(20px);
    transition: 0.3s ease;
    overflow: hidden;
  }
}
.header_navbar-link {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  margin-left: 1rem;
}
@media screen and (max-width: 991px) {
  .header_navbar-link {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
  }
}

.main_started {
  padding: 0 10%;
}
@media screen and (max-width: 991px) {
  .main_started {
    padding: 80px 5%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-image: url("../assets/bodybuilder.avif");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.main_started-block {
  text-align: left;
  width: 100%;
  padding: 200px 0 100px;
}
@media screen and (max-width: 991px) {
  .main_started-block {
    max-width: 500px;
    padding: 100px 0 50px;
  }
}
.main_started-block-head {
  max-width: 550px;
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 4rem;
}
@media screen and (max-width: 991px) {
  .main_started-block-head {
    font-size: 48px;
    margin-bottom: 2rem;
  }
}
.main_started-block-paragraph {
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .main_started-block-paragraph {
    max-width: 250px;
  }
}
.main_started-block-button {
  background-color: red;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 90px;
}
@media screen and (max-width: 991px) {
  .main_started-block-button {
    margin-top: 40px;
  }
}
.main_popular {
  padding: 80px 10%;
  background-color: #ffffff;
}
@media screen and (max-width: 991px) {
  .main_popular {
    background-color: #fff;
    padding: 10px 5% 40px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
}
.main_popular-head {
  margin: 0 0 70px;
}
@media screen and (max-width: 991px) {
  .main_popular-head {
    display: inline-block;
    margin: 30px 0;
    font-size: 30px;
  }
}
.main_popular-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 991px) {
  .main_popular-container {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
  }
}
.main_popular-container-card {
  max-width: 480px;
  text-decoration: none;
  color: #000000;
}
.main_popular-container-card-photo-img {
  width: 100%;
  max-height: 348px;
}
.main_popular-container-card-info {
  border-bottom: 1px solid #000;
}
.main_popular-down {
  margin: 80px 0 20px;
  text-align: center;
}
.main_about {
  padding: 50px 10%;
  background-image: url("../assets/basketball.avif");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
}
@media screen and (max-width: 991px) {
  .main_about {
    padding: 50px 5%;
    justify-content: center;
    margin: 0 auto;
  }
}
.main_about-block {
  padding: 70px 0;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 20px;
}
@media screen and (max-width: 991px) {
  .main_about-block {
    max-width: 500px;
  }
}
.main_about-block-head {
  color: #fff;
}
.main_about-block-info {
  color: #fff;
}
.main_about-block-paragraph {
  color: #fff;
}
.main_about-block-button {
  margin-top: 30px;
}
.main_classes {
  padding: 50px 10%;
  background-image: url("../assets/gymnastic.avif");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 991px) {
  .main_classes {
    padding: 50px 5%;
    justify-content: center;
    margin: 0 auto;
  }
}
.main_classes-block {
  padding: 70px 0;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 20px;
}
@media screen and (max-width: 991px) {
  .main_classes-block {
    max-width: 500px;
  }
}
.main_classes-block-head {
  color: #fff;
}
.main_classes-block-info {
  color: #fff;
}
.main_classes-block-paragraph {
  color: #fff;
}
.main_classes-block-button {
  margin-top: 30px;
}
.main_ready {
  padding: 150px 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.799), rgba(149, 149, 149, 0.24)), url("../assets/sport.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
}
@media screen and (max-width: 991px) {
  .main_ready {
    padding: 80px 5%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .main_ready-block {
    max-width: 500px;
  }
}
.main_ready-block-head {
  color: #ffffff;
}
.main_ready-block-button {
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  .main_ready-block-button {
    margin: 20px auto;
  }
}

.footer {
  padding: 50px 10%;
  background-color: #000;
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 50px 5%;
    display: flex;
    justify-content: center;
  }
}
.footer_block {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
@media screen and (max-width: 991px) {
  .footer_block {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 30px;
  }
}
.footer_block-left-head {
  width: 100%;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .footer_block-left-head {
    font-size: 30px;
  }
}
.footer_block-left-start {
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .footer_block-left-start {
    font-size: 23px;
  }
}
.footer_block-left-end {
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .footer_block-left-end {
    font-size: 23px;
  }
}
.footer_block-left-list {
  margin-top: 25px;
  display: flex;
  column-gap: 25px;
}
.footer_block-left-list-link {
  text-decoration: none;
}
.footer_block-left-list-link-img {
  width: 20px;
  color: #ffffff;
}
.footer_block-address-head {
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .footer_block-address-head {
    font-size: 30px;
  }
}
.footer_block-address-paragraph {
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .footer_block-address-paragraph {
    font-size: 23px;
  }
}/*# sourceMappingURL=style.css.map */