

//--------  font family --------
%font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

//----- font size varaible ------
$font_large-size: 48px;
$font_large-weight: 700;

$font_medium-size: 30px;
$font_medium-weight: 700;

$font_sm-size: 23px;
$font_sm-weight: 700;

$font_small-size: 16px;
$font_small-weight: 700;

//--------  font size --------
%font_large {
    font-size: 48px;
    font-weight: 700;
}

%font_medium {
    font-size: 30px;
    font-weight: 700;
}


%font_sm {
    font-size: 24px;
    font-weight: 700;
}

%font_small {
    font-size: 16px;
    font-weight: 500;
}
//--------  font color --------
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$red-hover: #7e0a0a;
// --- button -----
%button {
    padding: 13px 50px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
}
// ---- button hover ----
%b-hover {
    border-radius: 5px;
    transition: 0.3s linear;
    &:hover {
        background-color: $red-hover;
    }
}

// ---- photo hover ----
%p-hover {
    border-radius: 15px;
    transition: 0.3s linear;
    &:hover {
        filter: grayscale(100%);
        transform: scale(0.95)
    }
}

// ---- icon hover ----
%i-hover {
    transition: 0.3s linear;
    &:hover {
        transform: scale(1.1)
    }
}