//  mobile / tablet devices
$mobile: 991px;


//----- font size varaible ------
$font_large-size: 48px;
$font_large-weight: 700;

$font_medium-size: 30px;
$font_medium-weight: 700;

$font_sm-size: 23px;
$font_sm-weight: 500;

$font_small-size: 16px;
$font_small-weight: 700;

//--------  font color --------
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$red-hover: #7e0a0a;
$l-hover:#98fb9892;
