@import 'variable';
@import 'mixin';
@import 'extend';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @extend %font;
}

//-----  zoom out -------
body {
    max-width: 1920px;
    margin: 0 auto;
}

//--------- fixed photo ---------
.fixed_photo {
    width: 100%;  
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: -1;

    @include mobile {
        display: none;
    }

    &-img {
        background-image: url('../assets/bodybuilder.avif');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 800px;
        max-width: 1920px;        
    }
}

// ------------ header -------------
.header {
    position: sticky;
    top: 0;
    left: 0;
    max-width: 1920px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    @include mobile {
        padding: 20px 5%;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.799), rgba(0, 0, 0, 0.24));
        backdrop-filter: blur(20px);
        z-index: -1;

        @include mobile {
            background-image: linear-gradient(rgba(23, 23, 23, 0.714), rgb(0, 0, 0));
        }
    }

    &_logo {
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        @extend %l-hover;
    }

    &_checkbox {
        display: none;

        @include  mobile {    
            &:checked ~ .icons #menu-icon {
                display: none;
            }
            &:checked ~ .icons #close-icon {
                display: block;
            }
            &:checked ~ .navbar {
                height: auto;
            }
        }
    }

    &_label {
        position: relative;
        font-size: $font_large-size;
        color: #fff;
        display: none;
        margin-left: auto;

        @include  mobile {
            display: inline-flex;
        }

        &-close {
            @include  mobile {
                display: none;
            }
        }
    }

    &_navbar {

        @include mobile {
            position: absolute;
            top: calc(100% + 0.1em);
            left: 0;
            width: 100%;
            height: 0;
            background: #0000001a;
            backdrop-filter: blur(20px);
            transition: .3s ease;
            overflow: hidden;
        }

        &-link {
            font-size: 1.10rem;
            color: #fff;
            text-decoration: none;
            font-weight: 100;
            margin-left: 1rem;
            @extend %l-hover;

            @include mobile {
                display: block;
                font-size: 1.1rem;
                margin: 1.5rem 0;
                text-align: center;
                transform: translateY(-50px);
            }
        }
    }

}
//---------------- main ----------------------
.main {

    // -------- started section ------------
    &_started {
        padding: 0 10%;

        @include mobile {
            padding: 80px 5% ;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            background-image: url('../assets/bodybuilder.avif');
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    

        &-block {
            text-align: left;
            width: 100%;
            padding: 200px 0 100px; 

            @include mobile {
                max-width: 500px;
                padding: 100px 0 50px; 
            }
    
            
            &-head {
                max-width: 550px;
                color: $white;
                font-size: $font_large-size;
                margin-bottom: 4rem;

                @include mobile {
                    font-size: $font_large-size;
                    margin-bottom: 2rem;
                }
            }
            &-paragraph {
                color: $white;
                @extend %font_small;

                @include mobile {
                    max-width: 250px;

                    @extend %font_medium;
                }
            
            }
            &-button {
                background-color: red;
                color: $white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 90px;
                @extend %b-hover;

                @include mobile {
                    margin-top: 40px;
                }
            }
            
        }
    
    }
    


    // ------- popular section ---------
    &_popular {
        padding: 80px 10%;
        background-color: $white;

        @include mobile {
            background-color: #fff;
            padding: 10px 5% 40px;
            display: flex;
            flex-direction: column;
            max-width: 500px;
            margin: 0 auto;
        }

        // --- head ---
        &-head {
            margin: 0 0 70px;
            @extend %font_large;
            
            @include mobile {
                display: inline-block;
                margin: 30px 0;
                font-size: $font_medium-size;
            }
        }

        // --- container ---
        &-container {
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-template-rows: repeat(2,auto);
            justify-content: space-between;
            gap: 40px;

            @include mobile {
                grid-template-columns: repeat(1,auto);
                grid-template-rows: repeat(4,1fr);
                gap: 40px;
            }

            &-card {
                max-width: 480px;
                text-decoration: none;
                color: $black;

                &-photo {
    
                    &-img {
                        width: 100%;
                        max-height: 348px;
                        @extend %p-hover;
                    }
                }
    
                &-info {
                    @extend %font_medium;
                    border-bottom: 1px solid #000;
                }
            }
        }

        //--- down -----
        &-down {
            margin: 80px 0 20px;
            text-align: center;

            &-button {
                @extend %button;
                @extend %font_small;
                @extend %b-hover;
            }
        }
    }


    // ------- about section ---------
    &_about {
        padding: 50px 10%;
        background-image: url('../assets/basketball.avif');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        display: flex;
        justify-content: start;

        @include mobile {
            padding: 50px 5% ;
            justify-content: center;
            margin: 0 auto;
        }

        &-block {
            padding: 70px 0;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            row-gap: 20px;

            @include mobile {
                max-width: 500px;
            }

            &-head {
                @extend %font_large;
                color: #fff;
            }

            &-info {
                @extend %font_small;
                color: #fff;
            }

            &-paragraph {
                @extend %font_small;
                color: #fff;
            }

            &-button {
                margin-top: 30px;
                @extend %font_small;
                @extend %button;
                @extend %b-hover;
            }
        }
    }


    // ------- classes section ---------
    &_classes {
        padding: 50px 10%;
        background-image: url('../assets/gymnastic.avif');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;

        @include mobile {
            padding: 50px 5% ;
            justify-content: center;
            margin: 0 auto;
        }

        &-block {
            padding: 70px 0;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            row-gap: 20px;

            @include mobile {
                max-width: 500px;
            }

            &-head {
                @extend %font_large;
                color: #fff;
            }

            &-info {
                @extend %font_small;
                color: #fff;
            }

            &-paragraph {
                @extend %font_small;
                color: #fff;
            }

            &-button {
                margin-top: 30px;
                @extend %font_small;
                @extend %button;
                @extend %b-hover;
            }
        }
    }

    // ------- ready section ---------
    &_ready {
        padding: 150px 10%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.799), rgba(149, 149, 149, 0.24)), url('../assets/sport.avif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(5px);
        @extend %bg-hover;

        @include mobile {
            padding: 80px 5% ;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        &-block {
            @include mobile {
                max-width: 500px;
            }


            &-head {
                @extend %font_large;
                color: $white;
            }
    
            &-button {
                margin-top: 30px;
                @extend %font_small;
                @extend %button;
                @extend %b-hover;
    
                @include mobile {
                    margin: 20px auto;
                }
            }
        }
    }
}
// ----------- footer -------------
.footer {
    padding: 50px 10%;
    background-color: #000;

    @include mobile {
        padding: 50px 5%;
        display: flex;
        justify-content: center;
    }

    //----- block-------
    &_block {
        display: grid;
        grid-template-columns: repeat(2,auto);

        @include mobile {
            width: 100%;
            max-width: 500px;
            display: grid;
            grid-template-columns: repeat(1,auto);
            row-gap: 30px;
        }

        // left ------
        &-left {

            &-head {
                width: 100%;
                @extend %font_sm;
                color: $white;
                margin-bottom: 20px;

                @include mobile {
                    font-size: $font_medium-size;
                }
            }

            &-start {
                @extend %font_small;
                color: $white;

                @include mobile {
                    font-size: $font_sm-size;
                }
            }

            &-end {
                @extend %font_small;
                color: $white;

                @include mobile {
                    font-size: $font_sm-size;
                }
            }

            &-list {
                margin-top: 25px;
                display: flex;
                column-gap: 25px;

                &-link {
                    text-decoration: none;
                    @extend %i-hover;

                    &-img {
                        width: 20px;
                        color: $white;
                    }
                }
            }
        }

        // address right ------
        &-address {

            &-head {
                @extend %font_sm;
                color: $white;
                margin-bottom: 20px;
                
                @include mobile {
                    font-size: $font_medium-size;
                }
            }

            &-paragraph {
                @extend %font_small;
                color: $white;
                text-decoration: none;

                @include mobile {
                    font-size: $font_sm-size;
                }
            }
        }
    }
}