@import 'variable';
@import 'mixin';
@import 'extend';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @extend %font;
}

//-----  zoom out -------
body {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(20px);
        z-index: -1;
    }

    .logo {
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
    }

    .navbar {
        margin-left: auto; /* diger yazilari sağa getirme */

        .a {
            font-size: 1.10rem;
            color: #fff;
            text-decoration: none;
            font-weight: 100;
            margin-left: 1rem;
        }
        &:hover {
            color:palegreen; /* Deyişiklik: Hover rengi */
        }
    }

    #check { /* checkbox'u menyu iconunun yanina getirmek ucun*/
        display: none;
    }

    .icons {
        position: relative; /* Deyisiklik */
        font-size: 2.8rem;
        color: #fff;
        cursor: pointer;
        display: none;
        margin-left: auto; /* Deyişiklik */
    }

    /*breakpoints*/
    @media screen and (max-width: 992px) {
        .header {
            padding: 1.3rem 5%; 
        }
    }

    @media screen and (max-width: 768px) {
        .icons {
            display: inline-flex;
        }

        #check:checked ~ .icons #menu-icon {
            display: none;
        }

        #close-icon {
            display: none;
        }

        #check:checked ~ .icons #close-icon {
            display: block;
        }

        .navbar {
            /* mobilde menyunu gizlet */
            position: absolute;
            top: calc(100% + 0.1rem); /* Deyişiklik nav acildanda headernen arasindaki mesafe */
            left: 0;
            width: 100%;
            height: 0;
            background: rgba(0, 0, 0, .1);
            backdrop-filter: blur(20px);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            transition: .3s ease;
            overflow: hidden;

            .a {
                display: block;
                font-size: 1.1rem;
                margin: 1.5rem 0;
                text-align: center;
                transform: translateY(-50px);
            }
            &:hover {
                color: palegreen; /* Deyişiklik: Hover rengi */
            }
        }

        #check:checked ~ .navbar {
            height: auto; /* Deyişdim 17.7 rem idi */
        }
    }
}
//---------------- main ----------------------
.main {



    // -------- started section ------------
    &_started {
        background-image: url('../assets/kulturistas-m7oWrM175eu7nJ9O.avif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s linear;
    
        &:hover {
            // transform: scaleY(1.05);
            background-position: 70% 0;
            filter: grayscale(100%);
        }
    
        
    
            /* Yeni eklenen stiller */
        &-block {
            text-align: left;
            width: 100%;
            padding: 200px 10% 100px; 
    
            
            &-head {
                color: #fff;
                font-size: 4rem;
                margin-bottom: 4rem;
            }
            &-paragraph {
                color: #fff;
                font-size: 1rem;
                font-weight: 300;
            
            }
            &-button {
                background-color: red;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 90px;
    
                &:hover {
                    background-color: red;
                }
            }
            
        }
    
    }
    





    // ------- popular section ---------
    &_popular {
        padding: 80px 10%;

        @include mobile {
            padding: 10px 5% 40px;
            display: flex;
            flex-direction: column;
            max-width: 500px;
            margin: 0 auto;
        }

        // --- head ---
        &-head {
            margin: 0 0 70px;
            @extend %font_large;
            
            @include mobile {
                display: inline-block;
                margin: 30px 0;
                font-size: $font_medium-size;
            }
        }

        // --- container ---
        &-container {
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-template-rows: repeat(2,auto);
            justify-content: space-between;
            gap: 40px;

            @include mobile {
                grid-template-columns: repeat(1,auto);
                grid-template-rows: repeat(4,1fr);
                gap: 40px;
            }

            &-card {
                max-width: 480px;
                text-decoration: none;
                color: $black;

                &-photo {
    
                    &-img {
                        width: 100%;
                        max-height: 348px;
                        @extend %p-hover;
                    }
                }
    
                &-info {
                    @extend %font_medium;
                    border-bottom: 1px solid #000;
                }
            }
        }

        //--- down -----
        &-down {
            margin: 80px 0 20px;
            text-align: center;

            &-button {
                @extend %button;
                @extend %font_small;
                @extend %b-hover;
            }
        }
    }


    // ------- about section ---------
    &_about {
        padding: 50px 10%;
        background-image: url('../assets/Group-ARqG6b9yLJfJvp17.avif');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        display: flex;
        justify-content: start;

        @include mobile {
            padding: 50px 5% ;
            justify-content: center;
            margin: 0 auto;
        }

        &-block {
            padding: 70px 0;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            row-gap: 20px;

            &-head {
                @extend %font_large;
                color: #fff;
            }

            &-info {
                @extend %font_small;
                color: #fff;
            }

            &-paragraph {
                @extend %font_small;
                color: #fff;
            }

            &-button {
                margin-top: 30px;
                @extend %font_small;
                @extend %button;
                @extend %b-hover;
            }
        }
    }


    // ------- classes section ---------
    &_classes {
        padding: 50px 10%;
        background-image: url('../assets/Group-YbxWo93O8RcZ0wn5.avif');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;

        @include mobile {
            padding: 50px 5% ;
            justify-content: center;
            margin: 0 auto;
        }

        &-block {
            padding: 70px 0;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            row-gap: 20px;

            &-head {
                @extend %font_large;
                color: #fff;
            }

            &-info {
                @extend %font_small;
                color: #fff;
            }

            &-paragraph {
                @extend %font_small;
                color: #fff;
            }

            &-button {
                margin-top: 30px;
                @extend %font_small;
                @extend %button;
                @extend %b-hover;
            }
        }
    }

    // ------- ready section ---------
    &_ready {
        padding: 150px 10%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.799), rgba(149, 149, 149, 0.24)), url('../assets/photo-1526506118085-60ce8714f8c5.avif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(5px);
        @extend %bg-hover;

        @include mobile {
            padding: 80px 5% ;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        &-block {
            @include mobile {
                max-width: 350px;
            }


            &-head {
                @extend %font_large;
                color: $white;
            }
    
            &-button {
                margin-top: 30px;
                @extend %font_small;
                @extend %button;
                @extend %b-hover;
    
                @include mobile {
                    margin: 20px auto;
                }
            }
        }
    }
}
// ----------- footer -------------
.footer {
    padding: 50px 10%;
    display: grid;
    grid-template-columns: repeat(2,auto);
    background-color: #000;

    @include mobile {
        padding: 50px 5%;
        display: grid;
        grid-template-columns: auto ;
        justify-content: center;
        row-gap: 30px;
    }

    // block left ------
    &_block {
        @include mobile {
            max-width: 350px;
        }

        &-head {
            width: 100%;
            @extend %font_sm;
            color: $white;

            @include mobile {
                font-size: $font_medium-size;
            }
        }

        &-start {
            @extend %font_small;
            color: $white;
            margin-top: 15px;

            @include mobile {
                font-size: $font_sm-size;
            }
        }

        &-end {
            @extend %font_small;
            color: $white;

            @include mobile {
                font-size: $font_sm-size;
            }
        }

        &-list {
            margin-top: 25px;
            display: flex;
            column-gap: 25px;

            &-link {
                text-decoration: none;
                @extend %i-hover;

                &-img {
                    width: 20px;
                    color: $white;
                }
            }
        }
    }

    // address right ------
    &_address {
        
        &-head {
            @extend %font_sm;
            color: $white;
            
            @include mobile {
                font-size: $font_medium-size;
            }
        }

        &-paragraph {
            @extend %font_small;
            color: $white;
            margin-top: 15px;
            text-decoration: none;

            @include mobile {
                font-size: $font_sm-size;
            }
        }
    }
}